{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- Favourites CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/favourites.css' %}" />
{% endblock %}

{% block content %}
<h1>Favourites</h1>
<div class="container">
    {% if favourites_items %}
    <div class="row">
        <div class="col-sm-12 md-4">
            {% for item in favourite_items %}
            {% if item.product.image %}
            {{ product.name }}
            {% else %}
            {{ product.name }}
            {% endif %}
            {{ item.product.name }}
            £{{ item.product.price }}
            {% endfor %}
        </div>
    </div>
    {% else %}
    <p>No items in your favourites</p>
    <button class="btn btn-sm" href="{% url 'home' %}">Home</button>
    {% endif %}
</div>
{% endblock %}

