{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- Index CSS -->
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block content %}

<!-- Bootstrap Carousel for the Hero -->
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="media/hero-1.jpg" class="d-block w-100" alt="hero-1">
            <div class="carousel-caption d-none d-md-block">
                <h3>Explore our range of beautiful flowers</h3>
                <p>A bouquet for every occasion</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="media/hero-2.jpg" class="d-block w-100" alt="her-2">
            <div class="carousel-caption d-none d-md-block">
                <h3>Explore our range of beautiful flowers</h3>
                <p>A bouquet for every occasion</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="media/hero-3.jpg" class="d-block w-100" alt="hero-3">
            <div class="carousel-caption d-none d-md-block">
                <h3>Explore our range of beautiful flowers</h3>
                <p>A bouquet for every occasion</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- X3 Images and Links to relevant pages -->
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <a href="{% url 'products' %}?category=birthday"><img src="media/birthday.jpg" class="img-circle"
                    alt="birthday"></a>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <a href="{% url 'products' %}?category=inside_plants"><img src="media/bonsai.jpg" class="img-circle"
                    alt="plants"></a>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <a href="{% url 'products' %}?category=wedding"><img src="media/wedding.jpg" class="img-circle"
                    alt="wedding"></a>
        </div>
    </div>
</div>

<h2>Hear what our customers think</h2>

<!-- ** Code inspired from https://www.w3schools.com/howto/howto_js_quotes_slideshow.asp ** -->
<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width slides/quotes -->
  <div class="mySlides">
    <q>“I can’t thank Willow Flowers enough for my beautiful wedding bouquet and bridesmaid flowers. They were reliable with keeping in touch through the whole process to ensure a smooth delivery for my special day. I will be recommending to future Brides!”</q>
    <p class="author">- Maddy Darvell</p>
  </div>

  <div class="mySlides">
    <q>“I ordered some inside plants from Willow Flowers and they did not disappoint! I am not one for plants, but these require minimal effort whilst looking lovely in my home! Thanks Willow Flowers!”</q>
    <p class="author">- William Mold</p>
  </div>

  <div class="mySlides">
    <q>“Having been let down by another online florist, I rushed over to Willow Flowers to order my Mother-in-law a Birthday Bouquet. She was absolutely thrilled with the delivery! I will be coming back here for all future bouquets!”</q>
    <p class="author">- Daisy Lewis</p>
  </div>

  <!-- Next/prev buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<!-- Dots/bullets/indicators -->
<div class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

{% endblock %}

{% block postloadjs %}
<!-- ** Code from https://www.w3schools.com/howto/howto_js_quotes_slideshow.asp ** -->
<script type="text/javascript">
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>
{% endblock %}