{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- Profile CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/profiles.css' %}" />
{% endblock %}

{% block content %}
<h1>My Account</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <p>Delivery Information</p>
            <form action="{% url 'profile' %}" method="POST" id="update-profile-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-sm">Update</button>
            </form>
        </div>
    </div>
    <br>
    <br>
    <table class="table table-bordered order-history">
        <thead>
            <tr>
                <th scope="col">Order Number</th>
                <th scope="col">Date</th>
                <th scope="col">Items</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        {% for order in order %}
        <tbody>
            <tr>
                <th scope="row">
                    <a href="{% url 'order_history' order.order_number %}"
                        title="{{ order.order_number }}">{{ order.order_number|truncatechars:8 }}</a>
                </th>
                <td>{{ order.date }}</td>
                <td>
                    <ul class=" list">
                        {% for item in order.lineitems.all %}
                        <li>{{ item.product.name }} x{{ item.quantity }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>£ {{ order.grand_total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{{ profile }}

{% endblock %}