{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- Basket CSS -->
<link rel="stylesheet" href="{% static 'css/checkout.css' %}" />
{% endblock %}

{% block content %}

<h1 class="checkout">Checkout</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p class="form-text">Fill out your details to complete your purchase</p>
            <form action="{% url 'checkout' %}" method="POST" id="paymnet-form">
                {% csrf_token %}
                <fieldset class="details">
                    <legend class="fieldset-label">Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                </fieldset>
                <fieldset class="delivery">
                    <legend class="fieldset-label">Delivery Address</legend>
                    {{ order_form.street_address| as_crispy_field }}
                    {{ order_form.town | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                </fieldset>
                <fieldset class="payment">
                    <legend class="fieldset-label">Payment</legend>
                    <!-- Stripe Payment -->
                    <div id="card-element"></div>
                    <!-- Payment Errors -->
                    <div id="card-errors" role="alert"></div>
                </fieldset>
                <p class="payment-total">Total: <strong>£{{ grand_total|floatformat:2 }}</strong></p>
                <!-- Submit Buttons -->
                <div class="row">
                    <div class="col">
                <button class="submit-button btn btn-sm">
                    <a href="{% url 'view_basket' %}">
                        <span class="basket">Basket</span>
                    </a>
                </button>
                <button class="submit-button btn btn-sm">
                    <span class="pay-now">Pay Now</span>
                </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}