{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- Basket CSS -->
<link rel="stylesheet" href="{% static 'css/basket.css' %}" />
{% endblock %}

{% block content %}

<h1 class="basket">Your Basket</h1>

{% if basket_items %}

<!-- Items in the basket -->
{% for item in basket_items %}
<div class="container full-view">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="image">
                        {% if item.product.image %}
                        <a href="{{ item.product.image.url }}" target="_blank">
                            <img src="{{ item.product.image.url }}" class="card-img-top img-fluid"
                                alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <img src="{{ MEDIA_URL}}noimage.png }}" class="card-img-top img-fluid" alt="{{ product.name }}">
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="details-container">
                        <h2 class="product-name">{{ item.product.name }}</h2>
                        <p class="description">{{ item.product.description }}</p>
                        <p class="price">£{{ item.product.price }}</p>
                        <div id="heart-icon">
                            <i class="fas fa-heart"></i>
                        </div>
                        <br>
                        <br>
                        <br>
                        <form class="form update-form" method="POST">
                            {% csrf_token %}
                            <div class="form">
                                <div class="col-12">
                                    <p>Quantity</p>
                                    <div class="form">
                                        <div class="input-group">
                                            <input class="form-control qty-input" type="number" name="quantity"
                                                value="1" min="0" max="5" data-item-id="{{ item.product.id }}"
                                                id="id_qty_{{ item.product.id }}">
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-sm" value="Update Basket">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Total Price/ Checkout -->
<div class="container">
    <p class="total-price">Total: £{{ total|floatformat:2 }}</p>
    <br>
    <a href="#" class="btn btn-sm checkout">
        Checkout
    </a>
</div>
<br>
<br>
<br>

<!-- Empty Basket -->
{% else %}
<h2>Your basket is empty<h2>
        <a href="{% url 'home' %}" class="btn btn-sm">Home</a>
        {% endif %}



        {% endblock %}