h1, h3 {
    color:#ffc1cc;
    font-family:'Playfair Display', serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Form */
form {
    font-family: 'Playfair Display', serif;
}

/* Button */
.btn {
    background-color:#ffc1cc;
    font-family:'Playfair Display', serif;
    color: white;
    vertical-align: bottom;
    margin-top: 2em;
}

.btn:hover {
    color: white;
    text-decoration: underline;
}

.upload {
    float: left;
}

.cancel {
    float: right;
}