/* Logo */
.top-nav {
    background-color: #ffc1cc;
    font-family: 'Playfair Display', serif;
    color: white;
}

.navbar-brand {
    color: white;
    font-size: 30px;
}

.navbar-brand:hover {
    font-size: 32px;
    color: white;
}

/* Icons */
.corner-icons {
    float: right;
    padding-top: 0.3em;
    font-size: 1.2em;
}

/* Nav Links */
.navbar-toggler {
    color: white;
}

.navbar {
    background-color: #ffc1cc;
}

.nav-link {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 18px;;
    margin-left: 5em;
    margin-right: 5em;
}

.nav-link:hover {
    color: white;
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #ffc1cc;
    margin-top: 3em;
    margin-bottom: 0;
    height: 3em;
}

.social-icons{
    font-size: 1em;
    float: right;
    padding: 0.5em;
    padding-left: 2px;
    padding-top: 1em;
}

#twitter{
    color: white;
}

#instagram{
    color: white;
}

#pinterest {
    color: white;
}
