/* Navbar */
.top-nav {
    background-color: #ffc1cc;
    font-family: 'Playfair Display', serif;
    color: white;
    height: 5em;
}

/* Logo */
.navbar-brand {
    color: white;
    font-size: 30px;
}

.navbar-brand:hover {
    font-size: 32px;
    color: white;
}

/* Icons */
.icons {
    float: right;
}

.col {
    margin-top: 0.5em;
}

.favourites {
    color: white;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.favourites:hover {
    color: white;
    font-size: 19px;
}

.basket {
    color: white;
    font-size: 18px;
}

.basket:hover {
    color: white;
    text-decoration: underline;
}

.search {
    color: white;
    font-size: 18px;
    padding-left: 10px;
}

.search:hover {
    color: white;
    font-size: 19px;
}

#user{
    color: white;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

#user:hover{
    color: white;
    font-size: 19px;
}


/* Nav Links */
.navbar-toggler {
    background-color: white;
}

.navbar {
    background-color: #ffc1cc;
}

.nav-link {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 20px;;
    margin-left: 1em;
    margin-right: 1em;
}

.nav-link:hover {
    color: white;
    text-decoration: underline;
}

.dropdown-item {
    font-family: 'Playfair Display', serif;
}

main {
    min-height: 100vh;
}

/* Footer */
.footer {
    width: 100%;
    background-color: #ffc1cc;
    margin-top: 0.5em;
}

.copy-right {
    margin-bottom: 1em;
    margin-top: 1em;
    color: white;
    float: left;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}

.social-icons{
    font-size: 1.5em;
    float: right;
    padding-right: 5px;
    padding-left: 5px;
    color: white;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

/* Allauth Templates */
.allauth-form-inner-content h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 0.5em;
    color: #ffc1cc;
}

.allauth-form-inner-content p {
   font-family: 'Playfair Display', serif; 
}

.allauth-form-inner-content a {
    font-family: 'Playfair Display', serif; 
}

.allauth-form-inner-content form {
    font-family: 'Playfair Display', serif; 
}

.allauth-form-inner-content .btn {
    background-color:#ffc1cc;
    font-family:'Playfair Display', serif;
    color: white;
    float: right;
    vertical-align: bottom;
    margin-top: 2em;
}

.btn:hover {
    color: white;
    text-decoration: underline;
}