/* H1 */
h1 {
    text-align: center;
    font-family:'Playfair Display', serif;
    color: #ffc1cc;
    padding-top: 1em;
}

/* Div */
.full-view {
    margin-top: 5em;
}

/* Product Name */
.product-name {
    font-family:'Playfair Display', serif;
    text-align: center;
    color: black;
    font-size: 40px;
}

/* Description */
.description  {
    font-family:'Playfair Display', serif;
    color: black;
    font-size: 20px;
    padding-top: 2em;
}

/* Price */
.price {
    font-family:'Playfair Display', serif;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

/* Icons */
#heart-icon {
    font-size: 2em;
    float: right;
}

#heart-icon:hover{
    font-size: 2.2em;
}

/* Quantity */
p {
    font-family:'Playfair Display', serif;
}

/* Button */
.btn {
    background-color:#ffc1cc;
    font-family:'Playfair Display', serif;
    color: white;
    float: right;
    vertical-align: bottom;
    margin-top: 2em;
}

.btn:hover {
    color: white;
    text-decoration: underline;
}

/* Ttoal */
.total-price {
    font-family:'Playfair Display', serif;
    float: right;
    font-size: 18px;
}

