/* Header */
h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 0.5em;
}

p {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    padding-top: 1em;
}

form {
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin-top: 0.5em;
}

input{
    background-color:#ffc1cc;
    font-family:'Playfair Display', serif;
    color: white;
    border: none;
}