/* Page Title */
h1 {
    font-family:'Playfair Display', serif;
    text-align: center;
    color: #ffc1cc;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Bootstrap Cards */
.card {
  overflow: hidden;
  padding: 10px, 20px, 20px, 20px;
  display: block;
  margin-bottom: 10px;
  border: 0.5px solid #D3D3D3;
}

img {
    max-height: 300px;
    object-fit: cover;
}

/* Product Name */
.card-title {
    font-family:'Playfair Display', serif;
    color: black;
}

/* Price */
.card-price {
    font-family:'Playfair Display', serif;
    color: black
}

/* Button linking to full description */
.btn {
    background-color:#ffc1cc;
    font-family:'Playfair Display', serif;
    color: white;
}

.btn:hover {
    color: white;
    text-decoration: underline;
}