/* Header */
h1 {
    font-family:'Playfair Display', serif;
    text-align: center;
    color: #ffc1cc;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Form Text */
p, form {
    font-family:'Playfair Display', serif;
    color: black;
    font-size: 18px;
}

/* Button */
.btn {
    background-color:#ffc1cc;
    font-family:'Playfair Display', serif;
    color: white;
    float: right;
}

.btn:hover {
    color: white;
    text-decoration: underline;
}

/* Order History*/
.order-history {
    max-height: 416px;
    overflow-y: auto;
}