/* Page Title */
h1{
    text-align: center;
    font-family:'Playfair Display', serif;
    color: #ffc1cc;
    margin-top: 1em;
}

/* Form */
form {
    margin-top: 0.5em;
}

/* Search Icon */
.form-control.btn {
    margin-top: 0px;
}

.icon {
    font-size: 18px;
    color: white;
}

/* search button */
.btn {
    background-color:#ffc1cc;
    font-family:'Playfair Display', serif;
    color: white;
    float: right;
    vertical-align: bottom;
    margin-top: 2em;
}

.btn:hover {
    color: white;
    text-decoration: underline;
}