{% load static %}

<!doctype html>
<html lang="en">

<head>


    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}


    {% block extra_meta %}
    {% endblock %}


    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    {% endblock %}

    {% block extra_css %}
    {% endblock %}


    {% block corejs %}
    <script src="https://kit.fontawesome.com/f5790472ba.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}


    {% block extra_js %}
    {% endblock %}

    <!-- Favicon -->
    <link rel="icon" type="image/icon" href="{{ MEDIA_URL }}favicon.ico" />

    <title>Willow Flowers</title>
</head>

<body>


    <!-- Nav bar -->
    <header>
        <div class="container-fluid top-nav">
            <a class="navbar-brand" href="{% url 'home' %}">Willow Flowers</a>
            <div class="row icons">
                <div class="col">
                    <a class="favourites" href="{% url 'view_favourites' %}"><i class="fas fa-heart"></i></a>
                </div>
                <div class="col">
                    <li class="list-inline-item dropdown">
                        <a class="nav-link-user" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <div><i class="fas fa-user" id="user"></i></div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item">Admin</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                </div>
                <div class="col">
                    <a class="search" href="{% url 'search' %}"><i class="fas fa-search"></i></a>
                </div>
                <div class="col">
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info text-white{% else %}text-white{% endif %} nav-link-basket"
                            href="{% url 'view_basket' %}">
                            <div class="text-center">
                                <div class="basket"><i class="fas fa-shopping-basket"></i></div>
                                <p class="my-0 basket">
                                    {% if grand_total %}
                                    £{{ grand_total | floatformat:2 }}
                                    {% else %}
                                    £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </div>
            </div>
        </div>
    </header>


    <!-- Nav Links -->
    <nav class="navbar navbar-expand-lg w-100">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav w-auto mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="logo-font nav-link text-black mr-5" href="#" id="flowers-link" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Flowers
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                        <a href="{% url 'products' %}?category=birthday,congratulations,get_well,baby,wedding"
                            class="dropdown-item">All Flowers</a>
                        <a href="{% url 'products' %}?category=birthday" class="dropdown-item">Birthday</a>
                        <a href="{% url 'products' %}?category=congratulations"
                            class="dropdown-item">Congratulations</a>
                        <a href="{% url 'products' %}?category=get_well" class="dropdown-item">Get Well Soon</a>
                        <a href="{% url 'products' %}?category=baby" class="dropdown-item">New Baby</a>
                        <a href="{% url 'products' %}?category=wedding" class="dropdown-item">Wedding</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="logo-font nav-link text-black mr-5" href="#" id="plants-link" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Plants
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                        <a href="{% url 'products' %}?category=inside_plants,outside_plants" class="dropdown-item">All
                            Plants</a>
                        <a href="{% url 'products' %}?category=inside_plants" class="dropdown-item">Inside Plants</a>
                        <a href="{% url 'products' %}?category=outside_plants" class="dropdown-item">Outside Plants</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contactview' %}">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
  

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}


    <!-- Footer -->
    <!--<footer>
        <div class="container-fluid footer">
            <div class="row">
                <div class="col-sm">
                    <div class="row">
                        <br>
                        <div class="col-sm-6">
                            <p class="copy-right text-center">©2021 Amie Johnstone (For Educational Purposes Only)</p>
                        </div>
                        <div class="col-sm-6">
                            <a href="https://twitter.com/login?lang=en-gb" target="_blank"><i
                                    class="fab fa-twitter-square social-icons" id="twitter"></i></a>
                            <a href="https://www.instagram.com/accounts/login/" target="_blank"><i
                                    class="fab fa-instagram-square social-icons" id="instagram"></i></a>
                            <a href="https://www.pinterest.co.uk/" target="_blank"><i
                                    class="fab fa-pinterest-square social-icons" id="pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>-->

</body>
</html>