{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- Product Admin CSS -->
<link rel="stylesheet" href="{% static 'css/checkout.css' %}" />
{% endblock %}

{% block content %}

<h1>Product Admin</h1>
<h3>Update a product</h3>

<div class="container">
    <div class="row">
        <div class="col-12 md-6">
            <form method="POST" action="{% url 'update_product' product.id %}" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="product-btn">
                    <a class="btn btn-sm" href="{% url 'products' %}">Cancel</a>
                    <button class="btn btn-sm" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}